*{
    margin: 0;
    padding: 0;
}

.product-search-page{
    display: flex;
    height: 100vh;
}
.aside{
    height: 99vh;
    overflow-x: scroll;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px 10px rgba(0 ,0 , 0 , 0.247);
    border: 1px solid;
    >div{
        padding: 3rem 0;
        >input ,>select{
            width: 100%;
            padding: 1rem;
            background-color: white;
            border: 1px solid gray;
            border-radius: 10px;
            margin: 0.5rem;
        }
    }
}

main{
    width: 100%;
    padding: 2rem;
    >input{
        width: 50%;
        border-radius: 5px;
        outline: none;
        border: none;
        margin: 1rem;
        font-size: 1rem;
    }
}
article{
    >button{
        padding: 0.5rem 1rem;
        color: gray;
        cursor: pointer;

    }
}
.flex{
    height: 76vh;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 150px));
    gap: 15px;
}